<div id="wrapper">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'website:index' %}">Finxi Imóveis</a>
        </div>
        {% if request.user.is_authenticated %}
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <!-- <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li> -->
                        <li class="divider"></li>
                        <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        {% else %}
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <a href="{% url 'login' %}">Login</a>
                </li>
            </ul>
        {% endif %}
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    
                        
                    {% if request.user.is_authenticated %}
                        <li>
                            <a href="{% url 'dashboard:dashboard' %}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="{% url 'imoveis:lista_de_imoveis' %}"><i class="fa fa-tasks fa-fw"></i> Imóveis</a>
                        </li>
                    {% else %}
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <form method="GET" action="{% url 'website:procurar' %}">
                                    <div class="form-group">
                                        Estado: {{ form_search.estado }}
                                    </div>
                                    <div class="form-group">
                                        Cidade: {{ form_search.cidade }}
                                    </div>
                                    <div class="form-group">
                                        Bairro: {{ form_search.bairro }}
                                    </div>
                                    <br><br>
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-success" value="Pesquisar"/>
                                    </div>
                                </form>
                            </div>
                            <!-- /input-group -->
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>



