{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-BR">
    {% block header %}
        {% include 'includes/header.html' %}
    {% endblock %}
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Login</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" method="POST">
                            {% csrf_token %}
                            <fieldset>
                                <div class="form-group">
                                    <input type="text" name="username" class="form-control">
                                    
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" class="form-control">
                                </div>
                                <div class="form-group">
                                    Login: admin Senha: admin
                                </div>
                                <button type="submit" class="btn btn-lg btn-success btn-block">Login</a>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block footer %}
        {% include 'includes/footer.html' %}
    {% endblock %}

    </body>
</html>