{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <link href="{% static 'css/map.css' %}" rel="stylesheet">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Finxi Imóveis</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <!-- /.panel-heading -->
                    <div id="map"></div>
                    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th style="width:160px;">Foto</th>
                                <th>Título</th>
                                <th>Contato</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for imovel in imoveis_do_bairro %}
                                <tr class="">
                                    <td>
                                        <a href="{{ imovel.get_detail_url }}">
                                            <img src="{{ imovel.foto.url}}"/>
                                        </a>
                                    </td>
                                    <td>
                                        {{ imovel.titulo }}<br>
                                        Bairro: {{ imovel.bairro }}<br>
                                        {{ imovel.cidade|title }} - {{ imovel.estado.sigla }}<br>
                                        Cep: {{ imovel.cep }}
                                    </td>
                                    <td>{{ imovel.telefone1 }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
{% endblock%}
{% block extra_js %}
    <script src="{% static 'js/init_map.js' %}"></script>
    <script>
        function getMap() {

            var locations = [
                {% for imovel in imoveis %}
                    {% with counter=forloop.counter %}
                    [
                        '<strong>{{ imovel.rua }} - {{ imovel.bairro }}</strong><br>\r\
                            {{ imovel.numero}} <br> {{ imovel.cidade.name }}, {{ imovel.estado.name }}<br>\
                            <a target="_blank" href="{{ imovel.get_detail_url }}">Ver anúncio</a>',
                        {{ imovel.latitude }}, 
                        {{ imovel.longitude }},
                        {{ counter }}
                    ],
                    {% endwith %}
                {% endfor %}
            ];
            return init_map(locations, {{ latitude }}, {{ longitude }});
        }

        
    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBw38IfJ5RVKvFQMEx049o6eHFHThLU-cM&callback=getMap"></script>
{% endblock %}


