{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ imovel.titulo }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            
            {{ imovel.descricao }}

            <br>

            Bairro: {{ imovel.bairro }}<br>
            {{ imovel.cidade|title }} - {{ imovel.estado.sigla }}<br>
            Cep: {{ imovel.cep }}<br>
                                    
            Telefone 01: {{ imovel.telefone1 }}<br>
            Telefone 02: {{ imovel.telefone2|default:"" }}<br>
            Proprietário: {{ imovel.proprietario }}<br><br>

            {% for obj in imovel.fotos.all %}
                <img src="{{ obj.foto.url }}" style="width: 200px;margin-bottom: 20px;"/> 
            {% endfor%}
        </div>
    </div>
{% endblock %}
