{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Imóveis</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <a href="{% url 'imoveis:novo_imovel' %}" class="btn btn-primary">Novo Imóvel</a>
    <br><br>
        <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Lista de imóveis
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Editar</th>
                                <th>Título</th>
                                <th>Proprietário</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for imovel in imoveis %}
                                <tr class="">
                                    <td class="center">
                                        <a href="{{ imovel.get_absolute_url }}">
                                            Editar
                                        </a>
                                    </td>
                                    <td>{{ imovel.titulo }}</td>
                                    <td>{{ imovel.proprietario }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
{% endblock %}