{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Novo Imóvel</h1>
        </div>
    </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="{% url 'dashboard:dashboard' %}">Home</a> / 
                        <a href="{% url 'imoveis:lista_de_imoveis' %}">Imóveis</a> / 
                        <a>Novo Imóvel</a>
                    </div>
                    <div class="panel-body">
                        <form role="form" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-12">
                                    {{ form.as_p }}
                                    <button type="submit" class="btn btn-primary">Salvar</button>
                                    <button type="reset" class="btn btn-danger">Limpar Alterações</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}




{% block extra_js %}
    <script src="{% static 'js/search_cep.js' %}"></script>
{% endblock %}