{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-BR">
    {% block header %}
        {% include 'includes/header.html' %}
    {% endblock %}
    <body>
        {% include 'includes/menu.html' %}
        <main id="content">
            <div id="page-wrapper">
                {% block content %}{% endblock %}
            </div>
        </main>
        {% block footer %}
            {% include 'includes/footer.html' %}
        {% endblock %}
        {% block extra_js %}{% endblock %}
    </body>
</html>